---
const { className } = Astro.props

const darkColor = '#BFC7D2'
---

<a href="/" class="inline-block">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 70 32"
    fill="none"
    class={className}
  >
    >
    <path
      d="M20.6306 13.824C21.8755 14.2858 22.8392 14.9584 23.5219 15.8419C24.2046 16.7253 24.5459 17.7895 24.5459 19.0344C24.5459 20.8816 23.7829 22.3172 22.257 23.3412C20.731 24.3451 18.8913 24.4706 16 24.4706C9.41177 23.5294 7.0786 18.2491 3.76471 24.4706V3.76471H15.0287C17.8397 3.76471 19.958 4.26667 21.3835 5.27059C22.8292 6.27451 23.552 7.60973 23.552 9.27624C23.552 10.2601 23.301 11.1435 22.7991 11.9266C22.3172 12.7096 21.5944 13.3421 20.6306 13.824ZM10.752 8.73412V11.8664H14.0649C15.611 11.8664 16.384 11.3443 16.384 10.3002C16.384 9.25616 15.611 8.73412 14.0649 8.73412H10.752ZM15.0287 19.8776C16.5948 19.8776 17.3779 19.3255 17.3779 18.2212C17.3779 17.1169 16.5948 16.5647 15.0287 16.5647H10.752V19.8776H15.0287Z"
      fill={darkColor}></path>
    <path
      d="M55.5295 2.90625C57.5775 2.90625 59.3846 3.31786 60.9507 4.14107C62.5168 4.94421 63.7316 6.12884 64.5949 7.69496C65.4784 9.24099 65.9201 11.0882 65.9201 13.2366V24.4705H58.8123V20.2239H52.1262V24.4705C48 26.3529 46.4566 21.7843 45.1389 24.4705V13.2366C45.1389 11.0882 45.5706 9.24099 46.434 7.69496C47.3174 6.12884 48.5422 4.94421 50.1084 4.14107C51.6745 3.31786 53.4815 2.90625 55.5295 2.90625ZM58.8123 14.863V12.6343C58.8123 11.3292 58.5011 10.3453 57.8787 9.68272C57.2764 9.00005 56.4732 8.65872 55.4693 8.65872C54.4654 8.65872 53.6522 9.00005 53.0298 9.68272C52.4274 10.3453 52.1262 11.3292 52.1262 12.6343V14.863H58.8123Z"
      fill={darkColor}></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M26.3529 3.76471H33.8824V18.8235H43.2941V24.4706H26.3529V3.76471ZM34.8235 22.5882C35.3433 22.5882 35.7647 22.1669 35.7647 21.6471C35.7647 21.1273 35.3433 20.7059 34.8235 20.7059C34.3037 20.7059 33.8824 21.1273 33.8824 21.6471C33.8824 22.1669 34.3037 22.5882 34.8235 22.5882ZM38.5882 22.5882C39.108 22.5882 39.5294 22.1669 39.5294 21.6471C39.5294 21.1273 39.108 20.7059 38.5882 20.7059C38.0684 20.7059 37.6471 21.1273 37.6471 21.6471C37.6471 22.1669 38.0684 22.5882 38.5882 22.5882ZM31.0588 22.5882C31.5786 22.5882 32 22.1669 32 21.6471C32 21.1273 31.5786 20.7059 31.0588 20.7059C30.539 20.7059 30.1177 21.1273 30.1177 21.6471C30.1177 22.1669 30.539 22.5882 31.0588 22.5882Z"
      fill={darkColor}></path>
    <path
      d="M45.1765 26.3535L16.9412 26.3529C16.7292 26.3529 16.5336 26.423 16.3763 26.5412C16.1478 26.7129 16 26.9863 16 27.2941C16 27.8139 16.4214 28.2353 16.9412 28.2353H45.1765C45.6963 28.2353 46.1177 27.8139 46.1177 27.2941C46.1177 26.7743 45.6963 26.3535 45.1765 26.3535Z"
      fill={darkColor}></path>
    <path
      d="M0 32L8.0291e-06 24.4706L8.07818e-06 3.76471C8.07818e-06 1.68552 1.68552 0 3.76471 0H65.8824C67.9615 0 69.6471 1.68552 69.6471 3.76471V24.4706C69.6471 26.5498 67.9615 28.2353 65.8824 28.2353H50.8235H46.807C46.9672 27.9584 47.0588 27.637 47.0588 27.2941C47.0588 26.9515 46.9673 26.6302 46.8073 26.3535C46.5824 25.9643 46.2221 25.6631 45.7908 25.5143C46.3162 24.907 46.5563 25.0555 47.0873 25.3836C47.6864 25.7538 48.6559 26.3529 50.8235 26.3529L65.8824 26.3529C66.922 26.3529 67.7647 25.5102 67.7647 24.4706V3.76471C67.7647 2.72511 66.922 1.88235 65.8824 1.88235H3.76471C2.72512 1.88235 1.88236 2.72511 1.88236 3.76471V24.4706C1.88236 25.4279 2.83983 26.2338 3.76471 26.3529C6.17072 22.1427 7.80789 22.9296 10.6417 24.2916C11.9412 24.9162 13.4923 25.6617 15.4846 26.1018C15.4201 26.1804 15.3619 26.2644 15.3107 26.3529C15.2019 26.5409 15.1248 26.7494 15.0864 26.9712C15.0683 27.0761 15.0588 27.184 15.0588 27.2941C15.0588 27.6381 15.1511 27.9604 15.3122 28.2379C8.36271 28.2984 0.913374 29.0276 0 32Z"
      fill={darkColor}></path>
  </svg>
</a>
